@import "../../config/style-variables.scss";

.background {
  z-index: -1;
  width: 17rem;
  position: absolute;
  top: 0;
  right: 0;

  .urn {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .background {
    width: 25rem;
    right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .background {
    width: 22rem;
    top: -2rem;

    .urn {
      visibility: visible;
    }
  }
}
