@import "../../config/style-variables.scss";

.navbar {
  display: flex;
  justify-content: center;

  .brand {
    margin: 1rem 0;

    & span {
      font-family: "Bellota", cursive;
    }

    .surv {
      color: $primary-dark;
    }

    .easy {
      color: $primary-light;
    }
  }

  .auth {
    display: none;
  }
}

.navigation {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  z-index: 2;

  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;

  .active {
    color: $primary;
    fill: $primary;
  }

  .inactive {
    color: $text-color;
    fill: $text-color;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: $title-color;
  }

  li {
    width: 100px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;

    .brand {
      text-align: left;
      margin: 0.75rem 1.5rem;
    }

    .auth {
      display: flex;
      align-items: center;
      list-style-type: none;
      display: flex;
      margin: 0.75rem 1.5rem;

      a {
        text-decoration: none;

        li {
          margin-left: 1rem;
          color: $text-color;
        }
      }

      .button {
        font-weight: 600;

        li {
          background: $primary-light;
          border-radius: 4px;
          color: white;
          padding: 0.5rem 1rem;
        }
      }
    }

    .navigation {
      li {
        width: 200px;
      }
    }
  }
}
