@import "../../config/style-variables.scss";

.answer {
  display: flex;
  align-items: center;
  font-size: 0.9rem;

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  svg {
    margin-right: 0.5rem;
  }

  p {
    vertical-align: middle;
  }
}
