@import "../../config/style-variables.scss";

.answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    input {
      color: white;
      background: $primary-dark;
      border: none;
      outline: none;
      min-width: 0;
      width: 100%;
      resize: none;
      border-radius: 4px;
      margin: 0 0.5rem;
      padding: 0.5rem;

      &:hover {
        background: darken($primary-dark, 2);
      }
    }
  }
}

.button {
  border: none;
  background: white;
  color: black;
  padding: 0.3rem 0.65rem;
  box-shadow: $white-drop;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
  cursor: pointer;
  width: fit-content;
  outline: none;
  margin-top: 1rem;
}
