@import "../../config/style-variables.scss";

.container {
  display: flex;
  flex-direction: column;
  background: $primary-dark;
  padding: 1rem;
  color: white;
  border-radius: 4px;
  margin: 1rem 0;

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
      color: white;
      background: darken($primary-dark, 2);
      border: none;
      outline: none;
      font-size: 1.15rem;
      min-width: 0;
      width: 100%;
      resize: none;
      border-radius: 4px;
      margin-right: 1rem;
      padding: 0.25rem 0.5rem;

      &:hover {
        background: darken($primary-dark, 4);
      }
    }

    select {
      background: none;
      border: none;
      color: white;
      outline: none;

      option {
        color: black;
      }
    }
  }

  .content {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
